$site-theme-color: #abcdef;
$site-fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';

// Import from Google fonts Rubik, Raleway
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap&family=Raleway&display=swap&family=Open+Sans&display=swap');

h1 {
    margin: 0;
}

h2 {
    font-family: $site-fonts;
    font-size: 200%;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    /* 2021 © inspirezone.tech */

    position: relative;
    bottom: 20px;
    text-align: center;

    /* 2021 © inspirezone.tech */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    /* identical to box height */
    letter-spacing: 0.035em;

    color: #000000;
}

.home-menu-header {
    /* Header */

    position: absolute;
    width: 1288px;
    height: 39px;
    left: 76px;
    top: 39px;
}

.home-logo {
    /* logo */
    position: absolute;
    height: 39px;
    top: 39px;
    margin-left: 2rem;
    background-repeat: no-repeat;
    z-index: 2;
}

.vanta-clouds-background {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 800px;
    background: url('../../static/img/cloud-fallback-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-quote {
    /* Quote */
    width: 100%;
    padding: 0 2rem 9rem;
}

blockquote {
    /* Without requirements or design, programming is the art of adding bugs to an empty text file. */

    /* Quote */
    margin: 0;
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0.035em;
    color: #2F2E41;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.quote-verse {
    /* - Anonymous */

    position: absolute;
    height: 28px;

    /* light subtitle */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.035em;
    color: #2F2E41;

}

.form-container {
    display: flex;
    justify-content: space-between;
    margin: 4em;

    @media (max-width: 768px) {
        margin: 4em 4em 0 4em;
        flex-direction: column;
    }
}

.form-image {
    width: 50%;
    height: 40%;
    border-radius: 20px;

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 2em;
    }
}

.coming-soon {
    /* title */
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    
    /* identical to box height */
    letter-spacing: 0.035em;
    
    color: #2F2E41;
}

.enter-email {
    /* subtitle */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;

    /* identical to box height */
    letter-spacing: 0.035em;
    color: #2F2E41;
}

form {
    /* Form */
    position: relative;
    width: 50%;
    padding-right: 4em;
    padding-bottom: 4em;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.fields {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        align-items: initial;
        flex-direction: column;
    }
}

.email-field {
    /* field */
    display: flex;
    flex-flow: column-reverse;
    margin-right: 1em;
    margin-bottom: 1em;
}

label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}

label {
    /* label */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* identical to box height */
    letter-spacing: 0.035em;
    color: #2F2E41;
}

input[type=email] {
    /* placeholder */
    border: none;
    border-bottom: 1px solid #2F2E41;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;

    /* placeholder */
    font-size: 1.2em;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    /* identical to box height */
    letter-spacing: 0.035em;
    color: #000000;
}

#email:focus {
    outline: 0;
    border-bottom: 1px solid #2F2E41;
}

#email::placeholder {
    color: #727272; 
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

#email:focus::-webkit-input-placeholder {
    opacity: 1;
}

#email:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.225rem) scale(1.25);
}

#email:not(:placeholder-shown) + label,
#email:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.home-button {
    /* button */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 45px;
    left: 323px;
    top: 170px;
    background: #104b5e;
    padding: 0;
    border: none;
}

.home-button:hover {
    background-color: #52a1b9;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-arrow {
    /* Group */
    margin-left: 10px;
}

.button-text {
    /* Send */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    /* identical to box height */
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
}


