$site-theme-color: #abcdef;
$site-fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';

body {
    margin: 0;
    background-color: rgb(252, 239, 255);
}

h1 {
    margin: 0;
}

h2 {
    font-family: $site-fonts;
    font-size: 200%;
}

footer {
    text-align: center;
}

blockquote {
    color: teal;
    font-family: site-fonts;
    padding-top:80px; 
    font-style: italic;
    font-size: 250%;
}

div.home-header {
    background-color: $site-theme-color;
    background-size: cover; 
    height: 480px; 
}

div.home-form {
    max-width: 600;
    padding: 0 10rem;
}

div.bible-kid-img {
    text-align: center;
}

form {
    color: black;
    font-family: site-fonts;
    font-size: 200%;
    background-color: $site-theme-color;
    padding: 1em;
}

