body {
    margin: 0;
    background-color: rgb(252, 239, 255);
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
}

blockquote {
    color: teal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:80px; 
    font-style: italic;
    font-size: 250%;
}

div.home-header {
    background-color: #abcdef; 
    background-size: cover; 
    height: 480px; 
}

div.home-form {
    max-width: 600;
    padding: 0 10rem;
}

div.bible-kid-img {
    text-align: center;
}

form {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    background-color: #98d4f3;
    padding: 1em;
}

